:root {
  /* Primary Colors */
  --primary: #0018A4;
  --secondary: #FF6589;

  /*filter colors*/
  --select-dark: #CCFFE2;
  --select-light: #FFECEA;


  /* Backgrounds */
  --background-light: #FAFBFF;
  --background-dark: #2c3e50;

  /* Text Colors */
  --text-light: #FFECEA;
  --text-dark: #000000;

  /* Border Colors */
  --border-light: #E9E9E9;
  --border-dark: #0018A4;


  /* Shadows */
  --shadow-light: rgba(137, 156, 204, 0.3);
  --shadow-dark: rgba(0, 0, 0, 0.3);

}


body {
  background-color: var(--background-light);
  color: var(--text-dark);
  font-family: "futura", sans-serif;
}

h1 {
  font: bold 64px "futura", sans-serif;
  color: var(--primary);
  text-align: center;
  padding-left: 32px;
}

h4 {
  font: bold 24px "futura", sans-serif;
  color: var(--text-dark);
}



ul {
  color: var(--text-dark);
  padding: 4px;
  margin: 0;
  text-align: left;
}

li {
  padding: 0 0 5px;
}

#filterSort {
  margin-bottom: 32px;
  column-gap: 32px;
}


.filtersort-larger {
  display: none;
}

.filtersort-mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.response {
  position: relative;
  text-align: center;
  margin-bottom: 32px;
}


.filter-content .sort-content {
  display: none;
  position: absolute;
  z-index: 2;
  width: 100vw;
  min-width: 150px;
  font: 16px var(--text-light) "futura", sans-serif;
  text-align: center;
  top: 100%;
  box-sizing: border-box;
}

.filter-content {
  display: none;
  background-color: var(--primary);
}

.sort-content {
  display: none;
  background-color: var(--secondary);
}

.show {
  display: block;
}





/* filter buttons*/

.dropbtn {
  font: 16px "futura", sans-serif var(--primary);
  width: 100svw;
  border: none;
  padding: 4px 8px;
  height: 8svh;
  z-index: 2;
}

.filter,
.sort {
  position: relative;
}

.filter button.active {
  color: var(--text-light);
  background-color: var(--primary);
  border: 2px solid var(--primary);
  z-index: 2;
}

.sort button.active {
  color: var(--select-light);
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  z-index: 2;
}

.filter>button {
  background-color: var(--select-dark);
  color: var(--primary);

}

.sort>button {
  background-color: var(--select-light);
  color: var(--primary);
}

/* recipe cards*/
.recipe-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: start;
  gap: 8px;

}


.recipe-card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  align-items: start;
  border: 2px solid var(--border-dark);
  box-shadow: 0px 0px 30px var(--shadow-light);
  border-radius: 16px;
  width: 300px;
  height: auto;
  padding: 16px 16px 24px 16px;
  z-index: 1;
  box-sizing: border-box;
  align-items: start;



}

.ingredients-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;

}

.ingredients-list li {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding: 0;
  margin: 0px 0px 8px 8px;

}


span {
  width: 240px;
  height: 2px;
  background-color: #E9E9E9;
  justify-self: center;
}

img {
  height: clamp(200px, 50%, 400px);
  width: auto;
  align-self: stretch;
  object-fit: cover;
  border-radius: 16px;
}


@media (min-width: 820px) {

  .filtersort-mobile {
    display: none;
  }

  .filtersort-larger {
    padding-left: 32px;
  }

  h1 {
    text-align: left;
  }

  button:hover {
    border: 1px solid var(--border-dark);
  }

  .filter .selectors>button:focus {
    color: var(--text-light);
    background-color: var(--primary);
    border: 1px solid var(--primary);
  }

  .sort .selectors>button:focus {
    color: var(--select-light);
    background-color: var(--secondary);
    border: 1px solid var(--secondary);
  }


  button {
    border-radius: 50px;
    border: 1px solid var(--background-light);
    margin: 5px;
    padding: 4px 8px;

  }

  .filter .selectors>button {
    background-color: var(--select-dark);
    color: var(--primary);
  }

  .sort .selectors>button {
    background-color: var(--select-light);
    color: var(--primary);
  }

  .sort {
    justify-content: start;

  }

  .filter {
    justify-content: start;

  }

  .filtersort-larger {
    display: flex;
    flex-direction: row;
    justify-content: start;
  }

  .recipe-container {
    align-content: start;
    justify-content: space-evenly;
    gap: 16px;
    padding: 16px;
    align-self: center;
  }

  .recipe-card {
    width: 300px;
    border: 2px solid var(--background-light);
    margin-bottom: 0;
    align-self: flex-start;
  }

  .recipe-card:hover {
    border: 2px solid var(--border-dark);
    box-shadow: 0px 0px 30px var(--shadow-light);
    border-radius: 16px;
  }
}